/* ----------Flip -flop----------- */
/* older phones */
@media(max-width:480px) {
   .navigation--bar--tag {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: rgba(11, 11, 11, 0.72);
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      white-space: nowrap;
      border: none;
      z-index: 999;
      /* border-left:4px solid transparent;; */
   }

   .div--tag--side--menu--bar {
      position: absolute;
      left: 60px;
      top: 10px;
   }

   .navigation--bar--tag--active {
      transition: 1.3s;
      background-color: rgba(11, 11, 11, 0.72);
      height: 100vh;
      width: 60%;
      white-space: nowrap;
      backdrop-filter: blur(20px);
      color: rgb(196, 195, 195);
      left: 0;
      z-index: 999;
      position: fixed;
      border: none;
      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--light {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: white;
      color: darkgray;
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      white-space: nowrap;
      z-index: 999;
   }

   .navigation--bar--tag--active--light {
      transition: 1.3s;
      background-color: white;
      color: rgb(114, 114, 114);

      border: none;
      /* border-left:4px solid transparent;; */
      height: 100vh;
      width: 60%;
      white-space: nowrap;
      backdrop-filter: blur(20px);
      left: 0;
      z-index: 999;
      position: fixed;

   }


   .navigation--bar--each--item--1 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }

   .navigation--bar--each--item--2 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }

   .navigation--bar--each--item--3 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--4 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }

   /* ----------------------------- */

   .navigation--bar--each--light--item--1 {
      color: black;
      transition: 0.9s;
   }

   .navigation--bar--each--light--item--2 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--3 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--4 {
      color: black;
      transition: 0.9s;

   }

   .close--button--tag {
      transition: 0.9s;
      color: rgb(226, 40, 40);
      white-space: nowrap;
   }

   .close--button--tag:hover {
      transition: 0.9s;
      color: rgb(255, 0, 0);
      white-space: nowrap;
   }

   .hamburger--symbol--tag {
      transition: 0.9s;
      font-size: 1.4rem;
   }
}

/* new phones in portrait  */
@media(min-width:480px) and (max-width:768px) {
   .title---logo---tag {
      font-size: 1.5rem;
      font-weight: bold;
   }

   .div--tag--side--menu--bar {
      position: absolute;
      left: 60px;
      top: 10px;

   }

   .title---logo---tag--light {
      font-size: 1.5rem;
      color: black;
      font-weight: bold;
   }

   .navigation--bar--tag {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: rgba(11, 11, 11, 0.72);
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
      white-space: nowrap;
   }

   .navigation--bar--tag--active {
      transition: 1.3s;
      background-color: rgba(11, 11, 11, 0.72);
      height: 100vh;
      width: 40%;
      white-space: nowrap;
      backdrop-filter: blur(20px);
      color: rgb(196, 195, 195);
      left: 0;
      position: fixed;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--light {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: white;
      color: darkgray;
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
      white-space: nowrap;
   }

   .navigation--bar--tag--active--light {
      transition: 1.3s;
      background-color: white;
      height: 100vh;
      width: 40%;
      color: rgb(114, 114, 114);

      z-index: 999;

      border: none;
      /* border-left:4px solid transparent;; */
      white-space: nowrap;
      backdrop-filter: blur(20px);
      left: 0;
      position: fixed;
   }


   .navigation--bar--each--item--1 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--2 {
      color: rgb(255, 255, 255);
      background-color: rgba(24, 24, 24, 0.286);

      transition: 0.9s;
   }

   .navigation--bar--each--item--3 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--4 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }

   /* ----------------- */


   .navigation--bar--each--light--item--1 {
      color: black;
      transition: 0.9s;
   }

   .navigation--bar--each--light--item--2 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--3 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--4 {
      color: black;
      transition: 0.9s;

   }

   .close--button--tag {
      transition: 0.9s;
      color: rgb(226, 40, 40);
   }

   .close--button--tag:hover {
      transition: 0.9s;
      color: rgb(255, 0, 0);
   }

   .hamburger--symbol--tag {
      transition: 0.9s;
      font-size: 1.6rem;
   }
}

/* tabs portrait*/
@media(min-width:768px) and (max-width:992px) {
   .title---logo---tag {
      font-size: 1.7rem;
      font-weight: bold;
   }

   .div--tag--side--menu--bar {
      position: absolute;
      left: 60px;
      top: 10px;

   }

   .title---logo---tag--light {
      font-size: 1.7rem;
      color: black;
      font-weight: bold;
   }

   .navigation--bar--tag {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: rgba(11, 11, 11, 0.72);
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      ;
      white-space: nowrap;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active {
      transition: 1.3s;
      background-color: rgba(11, 11, 11, 0.72);
      height: 100%;
      width: 40%;
      white-space: nowrap;
      border: none;
      /* border-left:4px solid transparent;; */
      /* border-left: 3px solid rgb(32, 32, 32);
      ; */
      color: rgb(196, 195, 195);
      backdrop-filter: blur(20px);
      left: 0;
      position: fixed;
      z-index: 999;

   }

   .navigation--bar--tag--light {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: white;
      color: darkgray;
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      ;
      white-space: nowrap;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active--light {
      transition: 1.3s;
      background-color: white;
      height: 100%;
      width: 40%;
      white-space: nowrap;
      color: rgb(114, 114, 114);

      border: none;
      /* border-left:4px solid transparent;; */
      backdrop-filter: blur(20px);
      left: 0;
      position: fixed;
      z-index: 999;

   }


   .navigation--bar--each--item--1 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--2 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--3 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--4 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }


   .navigation--bar--each--light--item--1 {
      color: black;
      transition: 0.9s;
   }

   .navigation--bar--each--light--item--2 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--3 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--4 {
      color: black;
      transition: 0.9s;

   }

   .close--button--tag {
      transition: 0.9s;
      color: rgb(226, 40, 40);
   }

   .close--button--tag:hover {
      transition: 0.9s;
      color: rgb(255, 0, 0);
   }

   .hamburger--symbol--tag {
      transition: 0.9s;
      font-size: 1.8rem;
   }
}

/* tabs landscape */
@media(min-width:992px) and (max-width:1200px) {
   .title---logo---tag {
      font-size: 2rem;
      font-weight: bold;
   }

   .title---logo---tag--light {
      font-size: 2rem;
      color: black;
      font-weight: bold;
   }

   .div--tag--side--menu--bar {
      position: absolute;
      left: 60px;
      top: 10px;

   }

   .navigation--bar---overlay--display {
      background-color: rgba(5, 9, 76, 0.675);
      position: absolute;
      width: 100%;
      z-index: -1;
      height: 100%;
      backdrop-filter: blur(20px);
   }

   .navigation--bar--tag {
      transition: 0.9s;
      position: fixed;
      top: 10;
      background-color: rgba(11, 11, 11, 0.72);
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      white-space: nowrap;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active {
      transition: 0.9s;
      background-color: rgba(11, 11, 11, 0.72);
      height: 100vh;
      width: 30%;
      white-space: nowrap;
      border: none;
      /* border-left:4px solid transparent;; */
      color: rgb(196, 195, 195);
      backdrop-filter: blur(20px);
      left: 0;
      z-index: 10;
      position: fixed;
      z-index: 999;

   }

   .navigation--bar--tag--light {
      transition: 0.9s;
      position: fixed;
      top: 10;
      background-color: white;
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      white-space: nowrap;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active--light {
      transition: 0.9s;
      background-color: white;
      height: 100vh;
      width: 30%;
      white-space: nowrap;
      color: rgb(114, 114, 114);

      border: none;
      /* border-left:4px solid transparent;; */
      backdrop-filter: blur(20px);
      left: 0;
      z-index: 10;
      position: fixed;
      z-index: 999;

   }


   .navigation--bar--each--item--1 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--2 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--3 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--4 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }

   /* -------- */

   .navigation--bar--each--light--item--1 {
      color: black;
      transition: 0.9s;
   }

   .navigation--bar--each--light--item--2 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--3 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--4 {
      color: black;
      transition: 0.9s;

   }

   .close--button--tag {
      transition: 0.9s;
      color: rgb(226, 40, 40);
   }

   .close--button--tag:hover {
      transition: 0.9s;
      color: rgb(255, 0, 0);
   }

   .hamburger--symbol--tag {
      transition: 0.9s;
      font-size: 2rem;
   }
}

/* laptop desktop */
@media(min-width:1200px) and (max-width:1440px) {
   .title---logo---tag {
      font-size: 2.2rem;
      font-weight: bold;
   }

   .div--tag--side--menu--bar {
      position: absolute;
      left: 60px;
      top: 10px;

   }

   .title---logo---tag--light {
      font-size: 2.2rem;
      color: black;
      font-weight: bold;
   }

   .navigation--bar--tag {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: rgba(11, 11, 11, 0.72);
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      ;
      white-space: nowrap;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active {
      transition: 1.3s;
      background-color: rgba(11, 11, 11, 0.72);
      height: 100vh;
      width: 20%;
      white-space: nowrap;
      color: rgb(196, 195, 195);
      border: none;
      /* border-left:4px solid transparent;; */
      backdrop-filter: blur(20px);
      left: 0;
      position: fixed;
      z-index: 999;

   }

   .navigation--bar--tag--light {
      transition: 1.3s;
      position: fixed;
      top: 10;
      background-color: white;
      color: darkgray;
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      ;
      white-space: nowrap;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active--light {
      transition: 1.3s;
      background-color: rgb(255, 255, 255);
      height: 100vh;
      width: 20%;
      white-space: nowrap;
      color: rgb(114, 114, 114);

      border: none;
      /* border-left:4px solid transparent;; */
      backdrop-filter: blur(20px);
      left: 0;
      position: fixed;
      z-index: 999;

   }


   .navigation--bar--each--item--1 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--2 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--3 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--4 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }

   /* --------------------------- */

   .navigation--bar--each--light--item--1 {
      color: black;
      transition: 0.9s;
   }

   .navigation--bar--each--light--item--2 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--3 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--4 {
      color: black;
      transition: 0.9s;

   }

   .close--button--tag {
      transition: 0.9s;
      color: rgb(226, 40, 40);
   }

   .close--button--tag:hover {
      transition: 0.9s;
      color: rgb(255, 0, 0);
   }

   .hamburger--symbol--tag {
      transition: 0.9s;
      font-size: 1.4rem;
   }
}

/* large desktop */
@media(min-width:1440px) {
   .title---logo---tag {
      font-size: 2.4rem;
      font-weight: bold;
   }

   .title---logo---tag--light {
      font-size: 2.4rem;
      color: black;
      font-weight: bold;
   }

   .div--tag--side--menu--bar {
      position: absolute;
      left: 60px;
      top: 10px;

   }

   .navigation--bar--tag {
      transition: 1.3s;
      /* position: fixed; */
      top: 10;
      background-color: rgba(11, 11, 11, 0.72);
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;

      z-index: 999;

      white-space: nowrap;
      border: none;
      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active {
      transition: 1.3s;
      background-color: rgba(11, 11, 11, 0.72);
      height: 100vh;
      width: 100%;
      white-space: nowrap;
      color: rgb(196, 195, 195);
      /* border-left: 3px solid rgba(27, 27, 27, 0.997);; */
      backdrop-filter: blur(20px);
      left: 0;
      /* position: fixed; */
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--light {
      transition: 1.3s;
      /* position: fixed; */
      top: 10;
      background-color: white;
      color: rgb(114, 114, 114);
      left: 0;
      backdrop-filter: blur(20px);
      height: 100vh;
      width: 60px;
      ;
      white-space: nowrap;
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }

   .navigation--bar--tag--active--light {
      transition: 1.3s;
      background-color: white;
      height: 100vh;
      width: 100%;
      white-space: nowrap;
      color: rgb(114, 114, 114);
      /* border-left: 3px solid rgba(169, 169, 169, 0.256);; */
      backdrop-filter: blur(20px);
      left: 0;
      /* position: fixed; */
      border: none;
      z-index: 999;

      /* border-left:4px solid transparent;; */
   }


   .navigation--bar--each--item--1 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--2 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--3 {
      color: rgb(255, 255, 255);

      transition: 0.9s;
   }

   .navigation--bar--each--item--4 {
      color: rgb(255, 255, 255);
      transition: 0.9s;
   }

   /* -------------------------- */

   .navigation--bar--each--light--item--1 {
      color: black;
      transition: 0.9s;
   }

   .navigation--bar--each--light--item--2 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--3 {
      color: black;
      transition: 0.9s;

   }

   .navigation--bar--each--light--item--4 {
      color: black;
      transition: 0.9s;

   }

   .close--button--tag {
      transition: 0.9s;
      color: rgb(226, 40, 40);
   }

   .close--button--tag:hover {
      transition: 0.9s;
      color: rgb(255, 0, 0);
   }

   .hamburger--symbol--tag {
      transition: 0.9s;
      font-size: 2rem;
   }
}