/* flip-flop animation on navigation bar */
/* .unordered--list--tag--navigation--bar{
    border-bottom: 3px solid rgb(76, 2, 128); 
}
.navigation--bar--list--tag{
    border: 3px solid transparent;
    position:relative;
    bottom:-3px;
    z-index:1;
}

.navigation--bar--list--tag--1{  
    transition:0.8s;
    background-color:rgb(11, 10, 10);
    border-top: 3px solid rgb(76, 2, 128);
    border-left: 3px solid rgb(76, 2, 128);
    border-right: 3px solid rgb(76, 2, 128);
    border-bottom:3px solid transparent;
    border-top-right-radius:10px;
    border-top-left-radius:10px; 
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
}
.navigation--bar--list--tag--2{  
    background-color:rgb(11, 10, 10);
    transition:0.8s;
    border-top: 3px solid rgb(76, 2, 128);
    border-left: 3px solid rgb(76, 2, 128);
    border-right: 3px solid rgb(76, 2, 128);
    border-bottom:3px solid transparent;
    border-top-right-radius:10px;
    border-top-left-radius:10px; 
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
}
.navigation--bar--list--tag--3{ 
  background-color:rgb(11, 10, 10);
  transition:0.8s;
  border-top: 3px solid rgb(76, 2, 128);
  border-left: 3px solid rgb(76, 2, 128);
  border-right: 3px solid rgb(76, 2, 128);
  border-bottom:3px solid transparent;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  content: '';
  bottom: -3px;
  left: 0;
  right: 0;
}
.navigation--bar--list--tag--4{  
  background-color:rgb(11, 10, 10);
  transition:0.8s;
  border-top: 3px solid rgb(76, 2, 128);
  border-left: 3px solid rgb(76, 2, 128);
  border-right: 3px solid rgb(76, 2, 128);
  border-bottom:3px solid transparent;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
  content: '';
  bottom: -3px;
  left: 0;
  right: 0;
} */

/* ----------Flip -flop----------- */

 .navigation--bar---overlay--display{
       background-color: rgba(5, 9, 76, 0.675);
       position: absolute;
       width:100%;
       z-index:1;
       height:100%;
       backdrop-filter: blur(20px);
   }
     .navigation--bar--tag{
       transition: 0.9s;
       position:absolute;
       top:10;
       background-color: rgba(11, 11, 11, 0.72);  
       right:0;
       backdrop-filter: blur(20px);
       height:100%;
       width: 0px;;
       white-space: nowrap;
     }

/* older phones */
@media(max-width:480px){
    .title---logo---tag{
        font-size:0.8rem
    }

      .navigation--bar--tag--active{
       transition: 0.9s;
       background-color: rgba(11, 11, 11, 0.72); 
       height:100%;
       width:100%;
       white-space: nowrap;
       backdrop-filter: blur(20px);
       right:0;
       position:absolute;
     }
     
     .div--tag--side--menu--bar{
     
        top:10px;
     
     }
     
     .navigation--bar--each--item--1{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--2{
       background-color: rgba(9, 11, 9, 0.475);
       transition:0.9s;
     }
     .navigation--bar--each--item--3{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--4{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     
     .close--button--tag{
       transition:0.9s;
       color:rgb(226, 40, 40);
     }
     .close--button--tag:hover{
       transition:0.9s;
       color:rgb(255, 0, 0);
     }
}
/* new phones in portrait  */
@media(min-width:480px) and (max-width:767px){
    .title---logo---tag{
        font-size:1rem
    }

    .navigation--bar--tag--active{
       transition: 0.9s;
       background-color: rgba(11, 11, 11, 0.72); 
       height:100%;
       width:55%;
       white-space: nowrap;
       backdrop-filter: blur(20px);
       right:0;
       position:absolute;
     }
     
     .div--tag--side--menu--bar{
     
        top:10px;
     
     }
     
     .navigation--bar--each--item--1{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--2{
       background-color: rgba(9, 11, 9, 0.475);
       transition:0.9s;
     }
     .navigation--bar--each--item--3{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--4{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     
     .close--button--tag{
       transition:0.9s;
       color:rgb(226, 40, 40);
     }
     .close--button--tag:hover{
       transition:0.9s;
       color:rgb(255, 0, 0);
     }
} 

/* tabs portrait*/
@media(min-width:768px) and (max-width:991px){
          .title---logo---tag{
        font-size:1.4rem
    }  

    .navigation--bar--tag--active{
       transition: 0.9s;
       background-color: rgba(11, 11, 11, 0.72); 
       height:100%;
       width:35%;
       white-space: nowrap;
       backdrop-filter: blur(20px);
       right:0;
       position:absolute;
     }
     
     .div--tag--side--menu--bar{
     
        top:10px;
     
     }
     
     .navigation--bar--each--item--1{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--2{
       background-color: rgba(9, 11, 9, 0.475);
       transition:0.9s;
     }
     .navigation--bar--each--item--3{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--4{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     
     .close--button--tag{
       transition:0.9s;
       color:rgb(226, 40, 40);
     }
     .close--button--tag:hover{
       transition:0.9s;
       color:rgb(255, 0, 0);
     }
}

/* tabs landscape */
@media(min-width:992px) and (max-width:1199px){
       .title---logo---tag{
        font-size:1.6rem
    }
   
   .navigation--bar---overlay--display{
       background-color: rgba(5, 9, 76, 0.675);
       position: absolute;
       width:100%;
       z-index:-1;
       height:100%;
       backdrop-filter: blur(20px);
   }
     .navigation--bar--tag{
       transition: 0.9s;
       position:absolute;
       top:10;
       background-color: rgba(11, 11, 11, 0.72);  
       right:0;
       backdrop-filter: blur(20px);
       height:100%;
       width: 0px;;
       white-space: nowrap;
     }
     .navigation--bar--tag--active{
       transition: 0.9s;
       background-color: rgba(11, 11, 11, 0.72); 
       height:100%;
       width:35%;
       white-space: nowrap;
       backdrop-filter: blur(20px);
       right:0;
       z-index: 10;
       position:absolute;
     }
     
     .div--tag--side--menu--bar{
     
        top:10px;
     
     }
     
     .navigation--bar--each--item--1{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--2{
       background-color: rgba(9, 11, 9, 0.475);
       transition:0.9s;
     }
     .navigation--bar--each--item--3{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--4{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     
     .close--button--tag{
       transition:0.9s;
       color:rgb(226, 40, 40);
     }
     .close--button--tag:hover{
       transition:0.9s;
       color:rgb(255, 0, 0);
     }
}

/* laptop desktop */
@media(min-width:1200px) and (max-width:1439px){
    .title---logo---tag{
        font-size:1.8rem
    }
    .navigation--bar--tag--active{
       transition: 0.9s;
       background-color: rgba(11, 11, 11, 0.72); 
       height:100%;
       width:35%;
       white-space: nowrap;
       backdrop-filter: blur(20px);
       right:0;
       position:absolute;
     }
     
     .div--tag--side--menu--bar{
     
        top:10px;
     
     }
     
     .navigation--bar--each--item--1{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--2{
       background-color: rgba(9, 11, 9, 0.475);
       transition:0.9s;
     }
     .navigation--bar--each--item--3{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--4{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     
     .close--button--tag{
       transition:0.9s;
       color:rgb(226, 40, 40);
     }
     .close--button--tag:hover{
       transition:0.9s;
       color:rgb(255, 0, 0);
     }
}

/* large desktop */
@media(min-width:1440px){
    .title---logo---tag{
      font-size:2rem;
    }
         .navigation--bar--tag--active{
       transition: 0.9s;
       background-color: rgba(11, 11, 11, 0.72); 
       height:100%;
       width: 35%;
       white-space: nowrap;
       backdrop-filter: blur(20px);
       right:0;
       position:absolute;
     }
     
     .div--tag--side--menu--bar{
     
        top:10px;
     
     }
     
     .navigation--bar--each--item--1{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--2{
       background-color: rgba(9, 11, 9, 0.475);
       transition:0.9s;
     }
     .navigation--bar--each--item--3{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     .navigation--bar--each--item--4{
        background-color: rgba(9, 11, 9, 0.475);
        transition:0.9s;
     }
     
     .close--button--tag{
       transition:0.9s;
       color:rgb(226, 40, 40);
     }
     .close--button--tag:hover{
       transition:0.9s;
       color:rgb(255, 0, 0);
     }
}