@media(max-width:480px) {
    .title---logo---tag--image {
        width: 80px;
        padding: 0;
        height: 80px;
        margin: 0;
    }

    .title---logo---tag {
        font-size: 1rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        ;
        color: black;
        margin: 0;
        font-weight: bold;
        font-style: italic;
    }

    .title---logo---tag--dark {
        font-size: 1rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: rgb(225, 225, 225);
        font-weight: bold;
        font-style: italic;
    }
}

/* new phones in portrait  */
@media(min-width:480px) and (max-width:768px) {
    .title---logo---tag {
        font-size: 1.2rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: black;
        font-weight: bold;
        font-style: italic;
    }

    .title---logo---tag--image {
        width: 100px;
        padding: 0;
        height: 80px;
        margin: 0;
    }

    .title---logo---tag--dark {
        font-size: 1.2rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: rgb(225, 225, 225);
        font-weight: bold;
        font-style: italic;
    }
}

/* tabs portrait*/
@media(min-width:768px) and (max-width:992px) {
    .title---logo---tag--image {
        width: 120px;
        padding: 0;
        height: 50px;
        margin: 0;
    }

    .title---logo---tag {
        font-family: 1.2rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: black;
        font-weight: bold;
        font-style: italic;
    }

    .title---logo---tag--dark {
        font-family: 1.2rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: rgb(225, 225, 225);
        font-weight: bold;
        font-style: italic;
    }
}

/* tabs landscape */
@media(min-width:992px) and (max-width:1200px) {
    .title---logo---tag {
        font-size: 1.3rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: black;
        font-weight: bold;
        font-style: italic;
    }

    .title---logo---tag--image {
        width: 100px;
        padding: 0;
        height: 80px;
        margin: 0;
    }

    .title---logo---tag--dark {
        font-size: 1.3rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: rgb(225, 225, 225);
        font-weight: bold;
        font-style: italic;
    }
}

/* laptop desktop */
@media(min-width:1200px) and (max-width:1440px) {
    .title---logo---tag {
        font-size: 1.4rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: black;
        font-weight: bold;
        font-style: italic;
    }

    .title---logo---tag--image {
        width: 100px;
        padding: 0;
        height: 80px;
        margin: 0;
    }

    .title---logo---tag--dark {
        font-size: 1.4rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: rgb(225, 225, 225);
        font-weight: bold;
        font-style: italic;
    }
}

/* large desktop */
@media(min-width:1440px) {
    .title---logo---tag--image {
        width: 100px;
        padding: 0;
        height: 80px;
        margin: 0;
    }

    .title---logo---tag {
        font-size: 1.4rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: black;
        font-weight: bold;
        font-style: italic;
    }

    .title---logo---tag--dark {
        font-size: 1.4rem;
        padding: 0;
        font-family: 'Noto-Serif', serif;
        margin: 0;
        color: rgb(225, 225, 225);
        font-weight: bold;
        font-style: italic;
    }
}