.main--tag--container--light{
        transition:1.3s;
     background-color: rgb(255, 255, 255);
     width:100%;
  
}

.main--tag--container--dark{
        transition:1.3s;
        background-color: rgb(31, 31, 31);
       width:100%;

}